{% extends 'base.html.twig' %}

{% block title %}Fiche de {{ product.name }}{% endblock %}

{% block body %}
        <div  style="width: 18rem;">
            <div >
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
                <a href="{{ path('app_product_all', {id: product.id}) }}">Back</a>
            </div>
        </div>
{% endblock %}
